@import 'lib/bourbon/bourbon';

.full-page {
  @include background(radial-gradient(circle farthest-corner at 95% 0%, #fffbef 0%, #c5815a 50%, #503323 100%));

  .inner-wrapper {
    background-image: url('./home-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;

    .logo {
      width: 132px;
      position: absolute;
      left: 25px;
      top: 15px;
      z-index: 100;
      opacity: 0;
      @include transform(translate3d(0, 10px, 0));
      transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
    }

    .filter-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-position: center center;
      background-repeat: no-repeat;
      background-image: url('./mask.svg');
      background-size: cover;
      opacity: 0;
      z-index: 1;

      @include transform(translateZ(0));
      transition: opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    .contents {
      width: 100%;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      z-index: 2;

      .landing-text {
        display: block;
        max-width: 80%;
        margin: 0 auto;
        opacity: 0;
        @include transform(translate3d(0, 10px, 0));
        transition: all 0.7s cubic-bezier(0.4, 0.0, 0.2, 1) 0.5s;
      }

      .buttons {
        display: block;
        width: 60%;
        height: 60px;
        margin: 100px auto 0;

        $btn-width: 27%;
        $btn-margin: 9.5%; // ((100% - 3 * $btn-width) / 2) * 100%;
        .button {
          border-radius: 30px;
          overflow: hidden;
          border: none;
          cursor: pointer;
          font-size: 28px;
          height: 60px;
          line-height: 60px;
          margin: 0;
          outline: none;
          padding: 0;
          width: 27%;
          margin-right: $btn-margin;
          opacity: 0;
          transition: opacity 1s cubic-bezier(0.4, 0.0, 0.2, 1) 1s;
          background-color: #FFF;
          float: left;

          &:last-child { margin-right: 0; }

          .hover-effect {
            background-color: rgba(0, 172, 204, 0);
            display: block;
            width: 100%;
            height: 100%;
            color: #939393;
            transition: all 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);

            &:hover {
              color: #FFF;
              background-color: rgba(0, 172, 204, 1);
            }
          }
        }
      }
    }

    &::before, &::after {
      display: inline-block;
      content: ' ';
      vertical-align: middle;
      height: 100%;
    }

    &.loaded {
      .filter-image { opacity: 1; }
    }

    &.failed, &.loaded { // background load error
      .logo { @include transform(translate3d(0, 0, 0)); opacity: 1; }
      .contents {
        .landing-text {
          @include transform(translate3d(0, 0, 0)); opacity: 1;
        }
        .buttons {
          .button {
            opacity: 1;
          }
        }
      }
    }
  }
}
