// @import 'lib/bourbon/bourbon';
@import 'lib/material-design';

.header {
    transition: box-shadow 0.5s $timing-acceleration;
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00ACCC;
    z-index: 100;

    .logo {
      margin: 8px 0 0 22px;
      height: 36px;
    }

    &.drop-shadow {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: box-shadow 0.5s $timing-deceleration;
    }
}
